<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>글 수정</title>
</head>
<body>

<form action="/board/update" method="post" name="updateForm">

  <input type="hidden" name="id" th:value="${boardUpdate.id}">

  writer: <input type="text" th:value="${boardUpdate.memberName}" readonly> <br>
  title: <input type="text" name="boardTitle" th:value="${boardUpdate.boardTitle}"> <br>
  contents: <textarea name="boardContents" cols="30" rows="10" th:text="${boardUpdate.boardContents}"></textarea> <br>

  <input type="button" value="글수정" onclick="boardUpdate()">
</form>
</body>

<script>
  function boardUpdate() {
      document.updateForm.submit();
  }
</script>