<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>글쓰기</title>
</head>
<body>
<form action="/board/save" method="post" enctype="multipart/form-data">
    writer: <input type="text" name="memberName" th:value="${#authentication.name}" readonly> <br>
    title: <input type="text" name="boardTitle" required> <br>
    contents: <textarea name="boardContents" cols="30" rows="10" required></textarea> <br>
    file: <input type="file" name="boardFile"> <br>
    <input type="submit" value="글작성">
</form>

<a href="/board/">목록으로 이동</a>
</body>
</html>